<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>
                <mat-icon>supervised_user_circle</mat-icon>Takács Olivér
            </p>
            <p>
                <mat-icon>chrome_reader_mode</mat-icon>MWKE38
            </p>
            <p>
                <mat-icon>email</mat-icon>gyugeoliver@gmail.com
            </p>
        </mat-card-content>
    </mat-card>
</div>