<div class="main_component">
    <form [formGroup]="traningForm" (ngSubmit)="onSubmit()">
        <div class="mt-5 box">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Date</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="datetime-local" formControlName="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Name</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Serial</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" formControlName="serial" class="form-control" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <label>Repetition</label>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" formControlName="repetition" class="form-control" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-md-6">
                        &nbsp; <button type="button" class="btn btn-primary" (click)="onSubmit()">Add</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>serial</th>
                    <th>Repetition</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData">
                    <td><span>{{item.date}}</span></td>
                    <td><span>{{item.name}}</span></td>
                    <td><span>{{item.serial}}</span></td>
                    <td><span>{{item.repetition}}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="removeItem(item)">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>