div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_component {
    height: 100vh;
}

.box {
    width: 50%;
    border: 1px solid rgb(98, 94, 96);
    padding: 0px 20px 20px 20px;
    margin-left: 400px;
}

.form-control {
    size: 50px;
}